#email,#password,#company, #licence{
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid #f29a00a8;
	padding: 5px;
	margin-bottom: 5px;
  } 
  #submit_btn{
	 width: 150px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 5px;
	background: #f29a00a8;
	color: black;
	cursor: pointer;
	text-align: center;
	 margin-top: 15px;
  }

  #submit_btn, .forgetbtn, #close_btn {
	width: 100%;
	/* max-width: 320px; */
	padding: 4px 0px;
	background: #ffe0a6;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #16130e;
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
  }
  

  #close_btn{
	background-color: #d2ccc1;
  }
  #login{
	margin-top: 8px;
	font-size: 12px;
	color: gray;
  }
  
  #login_a{
	color: #0000FF;
  }
  
  #register_form {
    padding: 15px;
    width: 36%;
    margin-left: auto;
    margin-right: auto;
}

.invalid-error{
	color: red;
	font-size: 16px;
}

.open-login{
	display: none;
}

.forgetbtn{
	display: none;
}

.s-mess{
	font-size: 16px;
}

.email-container{
    display: none;
}


.home-login-btn{
    display: block;
}

.logout-btn{
    display: block;
}

#three-modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0,0,0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	display: none;
  }
  .three_modal_content {
    background-color: #ffffff;
    position: relative;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin: 0px 10%;
    width: 551px;
    border: 1px solid #ffe0a6;
    margin-top: 50px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

  .item-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
  }
  
  .device-item {
	flex: 1;
	text-align: left;
  }
  
  .device-close {
	flex: 0;
	color: red;
	cursor: pointer;
	text-align: right;
  }

  .close-modal{
	text-align: right;
  }

  #registration_footer{
	width: 80%;
	margin-top: 15px;
  }

  .input-container{
	display: block;
  }

  .update-upgrade-panel{
	display: none !important;
  }

  .dev-login-btn{
	color:black !important;
  }

  .after-login-footer{
	display: none;
  }

  .after-login-footer {
	display: flex; /* Enables flexbox layout */
	justify-content: space-evenly; /* Evenly spaces items across the container */
	align-items: flex-end; /* Aligns items to the bottom of the container */
	position: absolute; /* Ensure it can be positioned relative to parent */
	bottom: 0; /* Place it at the bottom of the parent container */
	width: 100%; /* Ensures it spans the full width of the container */
	padding: 2px; /* Adds some padding */
	background-color: #f8f8f8; /* Optional background color */
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for visual effect */
  }
  
  .after-login-footer a {
	text-decoration: none; /* Removes underline from links */
	color: #2d2e2f; /* Sets link color */
	font-size: 16px; /* Adjust font size */
  }
  
  .after-login-footer .upgradeBtn {
	font-weight: bold; /* Makes the Upgrade button bold */
  }
  
  .after-login-footer .logout-btn {
	font-style: italic; /* Adds a unique style for the logout link */
  }

  a.after-login, .after-login a{
	color: #5a5a5a !important;
  }

  .profile{
	cursor: pointer;
  }

  .patronRequestPopUp .hide-when-request{
	display: none;
  }
  

  .after-login.upgradeBtn{
  	color: white !important;
  }

  .upgradeBtn.top.after-login-top-upgrade{
	display: none;
  }

  .upgradeBtn.top.home-login-btn{
	display: none;
  }


  .upgradeBtn.home-login-btn.under-popup {
    border-radius: 0px;
    padding: 8px 4px;
    margin-left: 12px;
	text-align: center;
}